<div class="product-fbt">
  <div class="product-fbt__item">
    {% render 'product-card-mini', product: product %}
  </div>
  <span class="product-fbt__icon">+</span>
  <div class="product-fbt__item">
    {% render 'product-card-mini', product: product %}
  </div>
  <span class="product-fbt__icon">=</span>
  <div class="product-fbt__summary">
    <p class="product-fbt__price">{{ product.price | times: 2 | money }}</p>
    <button class="btn product-fbt__btn" type="button">Add bundle to cart</button>
  </div>
</div>
