<div class="product-accordion">
  <details open>
    <summary>Beschreibung</summary>
    <div class="product-accordion__content">
      {{ product.description }}
    </div>
  </details>
  {% if product.metafields.custom.manufacturer %}
  <details>
    <summary>Herstellerinformation</summary>
    <div class="product-accordion__content">
      {{ product.metafields.custom.manufacturer }}
    </div>
  </details>
  {% endif %}
</div>
