<div class="product-services flex gap-6 mt-6">
  <div class="service-item flex items-center gap-2">
    {% render 'icon', icon: 'box', width: 24, height: 24 %}
    <span>Versandkostenfrei</span>
  </div>
  <div class="service-item flex items-center gap-2">
    {% render 'icon', icon: 'award', width: 24, height: 24 %}
    <span>2 Jahre Garantie</span>
  </div>
  <div class="service-item flex items-center gap-2">
    {% render 'icon', icon: 'heart', width: 24, height: 24 %}
    <span>Top Support</span>
  </div>
</div>
