<div class="service-icons">
  <div class="service-icon">
    {% render 'icon-available' %}
    <span>Versand in 24h</span>
  </div>
  <div class="service-icon">
    {% render 'icon-bag' %}
    <span>Kostenloser Versand</span>
  </div>
  <div class="service-icon">
    {% render 'icon-check' %}
    <span>30 Tage Rückgabe</span>
  </div>
</div>
